<h1>Events show page </h1>


<h2>Event Details</h2>

<p>Name: <%=  @event.event_name%><br></p>
<p>Date: <%= @event.events_date%><br></p>
<p>Location: <%= @event.location%><br> <br></p>

 <% if current_user.id==@event.creator.id%>
 <%= link_to "Delete Event", event_path(@event.id), :method => :delete %><br><br>
  <% end%>

 <% if @event.events_date > Date.today %>
 <%= link_to "Attend Event", event_event_attendees_path(@event), method: :post %><br><br>
 <% end%>
 
<h3>Attendees</h3>
<ul>
<% @event.attendees.each do |attendee| %>
    <li>
    <%=attendee.email%><br>
    </li>
<%end%>
</ul>